* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 100%;
  background-image: url("img/background.png");
  height: 200px;
  bottom: 50%;
  animation: backgroundAnime 600s infinite linear;
  /* background-repeat: no-repeat; */
}

@keyframes backgroundAnime {
  from {
    background-position: 0;
  }
  to {
    background-position: -70000%;
  }
}
