* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* position: relative; */
}

.container {
  position: absolute;
  width: 100%;
  background-image: url("img/background.png");
  height: 200px;
  bottom: 50%;
  overflow: visible;
  animation-name: backgroundAnime;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: 600s infinite linear; */
  /* background-repeat: no-repeat; */
  > h1,
  h2 {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}
.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("img/dino.png");
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 30px;
}
.cactus {
  background-image: url(img/cactus.png);
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
}

.me {
  position: fixed;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 20px;
  right: 30px;
  background-image: url("img/me.jpg");
  background-size: cover;
  animation: borderAnimation 0.9s ease infinite alternate;
}

.me:hover .social-icons {
  transform: translateY(0);
  opacity: 1;
}

.social-icons {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: -50px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
}

.social-icons a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.9s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons img {
  width: 18px;
  height: 18px;
}
@keyframes borderAnimation {
  from {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  to {
    border-radius: 90% 10% 22% 78% / 47% 70% 30% 53%;
  }
}
@keyframes backgroundAnime {
  from {
    background-position: 0;
  }
  to {
    background-position: -100000%;
  }
}
